name: Flutter CI/CD

on:
  push:
    branches: [ "main" ]
    tags:
      - "v*"            # Deployment only when version tags are created
  pull_request:
    branches: [ "main" ]

env:
  FLUTTER_VERSION: 3.35.3
  WORKDIR: tickoff
  BUILD_ENV: production
  MAPS_API_KEY: ${{ secrets.MAPS_API_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ${{ env.WORKDIR }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: Install dependencies
        run: flutter pub get

      # ----------- LINTING -----------
      - name: Check formatting (no fail)
        run: dart format --output=none .

      - name: Static code analysis (Dart analyze)
        run: flutter analyze --fatal-warnings

      # ----------- TESTS -------------
      - name: Run unit tests
        run: flutter test --coverage

      - name: Upload Test Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: tickoff/coverage/

      # ----------- BUILD -------------
      - name: Build Android APK
        run: flutter build apk --release --dart-define=MAPS_API_KEY=${{ secrets.MAPS_API_KEY }}

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tickoff-apk
          path: tickoff/build/app/outputs/flutter-apk/app-release.apk


  # ----------- DEPLOYMENT JOB -----------
  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')

    permissions:
      contents: write

    steps:
      - name: Download APK artifact from build stage
        uses: actions/download-artifact@v4
        with:
          name: tickoff-apk
          path: ./release/

      - name: Rename APK with version
        run: mv ./release/app-release.apk ./release/tickoff-${GITHUB_REF_NAME}.apk

      - name: Create GitHub Release and upload APK
        uses: softprops/action-gh-release@v2
        with:
          files: ./release/tickoff-${GITHUB_REF_NAME}.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
